<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181305852338-htmsr3l1totted9doqm6imcjmeqcgqko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181305852338-htmsr3l1totted9doqm6imcjmeqcgqko</string>
	<key>API_KEY</key>
	<string>AIzaSyCi6uGC7yxbA30TG_r7b6x1VkyCfjqzAuU</string>
	<key>GCM_SENDER_ID</key>
	<string>181305852338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPuzzle.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>jigsaw-af06a</string>
	<key>STORAGE_BUCKET</key>
	<string>jigsaw-af06a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181305852338:ios:438f5d5aa42c683093e4ab</string>
</dict>
</plist>